body {
	background-color: black;
}
.center {
	color: green;
	font-family: "Courier New", Courier, monospace;
	background-color: black;
    
    	position: absolute;
 	top: 50%;
	left: 50%;
    	transform: translate(-50%, -50%);
}
.bottom {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
h1{
	font-size: 50px;
    	font-family: "Courier New", Courier, monospace;
	color: green;
}
h2{
	font-size: 30px;
    	font-family: "Courier New", Courier, monospace;
	color: green;
}
p{
	font-size: 20px;
	font-family: "Courier New", Courier, monospace;
	color: green;
}
ul.a{
    font-size: 30px;
    list-style-type: none;
}
ul{
	font-size: 20px;
	font-family: "Courier New", Courier, monospace;
	color: green;
}
a:link{
	color: green;
	text-decoration: none;
}
a:visited{
	color: green;
	text-decoration: none;
}
a:hover{color: white;}
.fa-home{
	color: green;	
}
